<!DOCTYPE html>
<html>

<head>
    <head>
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        <title>DIJ Project</title>
    </head>
</head>

<body>
    <!-- TODO(Project 1): Implement routes. -->
    <ul class="page-links">
        {% for page_link in page_links %}
        <li><a href="{{ page_link.url }}">{{ page_link.name }}</a></li>
        {% endfor %}
      </ul>

      <form action="/search" method="GET">
        <input type="text" name="q" placeholder="Search in wikis">
        <button type="submit">Search</button>
    </form>

    <h1>{{ greeting }}</h1>
    <div>       
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        This project is owned by Jabez, Donald and Ivan.
    </div>
</body>

</html>